.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    color: #82776B;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    width: 30%;
    padding: 15px 50px;
    background: #BBA99A;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-weight: 100;
    text-align: left;
}

.confirm-table__header--textarea {
    padding: 30px 50px;
}

.confirm-table__text {
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
    color: #82776B;
}

.confirm-table__text input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    color: #82776B;
    background: transparent;
}

.form__button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.form__button-submit {
    padding: 5px 30px;
    color: #fff;
    background: #82776B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.edit {
    color: #82776B;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 18px;
}